<% provide(:title, "Listado Subagencias") %>

  <section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Subagencia <%= @subagencia.numero_subagencia %></h1>
            <p>Titular:
              <%= @subagencia.titular %></p>
            <p>Domicilio:
              <%= @subagencia.domicilio %></p>
            <p>Teléfono:
              <%= @subagencia.telefono %></p>
            <p>Email:
              <%= @subagencia.email %></p>

            <%= link_to 'Agregar juego impreso', new_subagencia_impreso_path([@subagencia, @impreso]) %>
            <br/>
            <%= link_to 'Listado juegos impresos', subagencia_impresos_path(@subagencia) %>
        </div>
      </div>
    </section>
  </section>
